.background2 {
    background-color: #111111;
    height: 1500px !important;
}
@media only screen and (max-width: 991px) {
    .background2 {
        background-color: #111111;
        height: 4300px !important;
    }
}
